.form-input{
    padding: 0 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    transition: 0.25s ease;
}
.form-input:focus{
    border-color: blueviolet;

}
.form-field{
    position: relative;
}
.form-label{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color:green;
    pointer-events: none;
    transition: 0.25s ease;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label{
    top: 0px;
    left: 11px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    color: black;
}

.form-input:not(:placeholder-shown) 
.form-select:focus + .form-label{
    top: 0px;
    left: 11px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    color: black;
}
.form-select{
    padding: 0 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    transition: 0.25s ease;
}
.form-select:focus{
    border-color: blueviolet;

}