<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS Example: Load và hiển thị sản phẩm theo ID loại</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
	<h1>Tất cả sản phẩm</h1>
	<ul>
		<li ng-repeat="product in products">{{product.name}} - {{product.type}}</li>
	</ul>
	<h1>Sản phẩm theo loại</h1>
	<button ng-click="selectedType = ''">Tất cả sản phẩm</button>
	<button ng-repeat="type in productTypes" ng-click="test($index)">{{type.id}}</button>
	<ul>
		<li ng-repeat="product in filteredProducts">{{product.name}} - {{product.type}}</li>
	</ul>
	<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope, $http) {
			$scope.products = [];
			$scope.productTypes = [];
			$scope.selectedType = "";
			
			// Load tất cả sản phẩm và danh sách loại sản phẩm
			$http.get(" http://localhost:3000/products").then(function(response) {
				$scope.products = response.data;
				
			});
			$http.get("   http://localhost:3000/categories").then(function(response) {
				$scope.productTypes = response.data;
				
			});
            $scope.test = function(index){
                $scope.selectedType = $scope.productTypes[index].id
                console.log("$scope.selectedType")
            }
			// Lọc sản phẩm theo loại
			$scope.$watch('selectedType', function() {
				if ($scope.selectedType === '') {
					$scope.filteredProducts = $scope.products;
				} else {
					$scope.filteredProducts = $scope.products.filter(function(product) {
						return product.categoryID === $scope.selectedType;
					});
				}
			});
		});
	</script>
</body>
</html>
