<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/angular.min.js"></script>

</head>
<body ng-app = "myApp">
    <div class="container mt-3" ng-controller = "myCtrl">
        <div class="button-group filter-button-group " ng-repeat="cate in listCategory" >
            <button type="button" class="btn btn-infor ms-5" ng-click = "click()">{{cate.name}}</button>
            
             <h3 class="text-infors">{{id}}</h3>
            <!-- <button type="button" class="btn" data-filter=".top-featured" ng-click="selectTopProduct()">Top featured</button>
            <button type="button" class="btn" data-filter=".best-seller"ng-click="selectBestProduct()">Best seller</button> -->
        </div>
        <div class="listSP mt-4">
            <div class="row ">
                <div class="col-md-3 col-12" ng-repeat = " p in listProduct " >
                    <div class="products-single">
                        <div class="box-img-hover">
                            <img src="images/{{p.image}}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <a class="cart" href="#giohang/{{p.id}}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h6>{{p.name}}</h6>
                            <h5>${{p.price}}</h5>
                        </div>
                    </div>
                </div>
    
        </div>   
        </div>
    </div>
    <script>
        var app = angular.module("myApp",[]);
        app.controller("sanphamCtrl",function($scope,$http){
    $scope.listProduct = [];
    $scope.listCategory = [];
    
    $scope.click = function(index){
        $scope.id = $scope.listCategory[index].id
    }
     $http.get("http://localhost:3000/products  ").then(
    function (r) {
        $scope.listProduct = r.data;
    })
    $http.get(" http://localhost:3000/categories").then(
    function (r) {
        $scope.listCategory = r.data;    
    })

})
    </script>
</body>
</html>