<div class="container mt-3">
    <div class="col-6 offset-2">
        <form name="form_category">
            <div class="row mt-5">
                <label class="col-2">CategoryName</label>
                <div class="col-10 ms-2 ">
                <input type="text" class="form-control mt-2" id="categoryName" ng-model="category.name"> 
                </div>
            </div>
            <div class="row mt-3 ">
                <button class="btn btn-success col-3 offset-1" ng-click="save($event)">Add
                    Category</button>
                <button class="btn btn-danger col-4 offset-1" ng-click="clear($event)">Clear Form</button>
            </div>
        </form>
    </div>
    <div class="mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name Category</th>                  
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in listCategory">
                    <td>{{ $index+1 }}</td>
                    <td>{{ category.name }}</td>                   
                    <td>
                        <button class="btn btn-primary mt-2" href="#" ng-click="btnUpdateOnClick($event, $index)">
                            Update
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger mt-2" ng-click="delete($event, $index)" href="#">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>